<%- include('../layouts/navbar') %>
<div class="container py-4">
    <div class="row g-4">
        <% allListings.forEach((listing)=>{ %>
            <div class="col-lg-4 col-md-6">
                    <a href="/listings/<%-listing.id  %>">
                    <div class="card shadow-lg-hover animate-up-3    cursor-pointer opacity-75-hover">
                        <img src="<%- listing.image.url %>" class="card-img-top rounded-top" alt="<%- listing.title %>" style="height: 200px; object-fit: cover;">
                        
                        <div class="card-body p-3">
                            <div class="d-flex justify-content-between align-items-start mb-2">
                                <span class="text-muted small"><%- listing.location %>, <%- listing.country %></span>
                                <span class="fw-bold text-primary animate-up-1 cursor-pointer">₹<%- listing.price %></span>
                            </div>
                        
                            <h6 class="card-title"><%- listing.title %></h6>
                            <p class="card-text text-muted small mb-3"><%- listing.description %></p>
                            
                            <a href="/listings/<%- listing._id %>" class="btn btn-outline-primary btn-sm">View Details</a>
                        </div>
                    </div>
                </a>
                </div>
        <% }) %>
    </div>
</div>
